<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shudas.blueprinter" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Michiganstyle" >
        <activity
            android:name="com.shudas.blueprinter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:noHistory="true"
            android:name="com.shudas.blueprinter.PrintActivity"
            android:label="@string/title_activity_print"
            android:parentActivityName="com.shudas.blueprinter.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shudas.blueprinter.MainActivity" />
        </activity>
    </application>

</manifest>
